body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter label {
    margin-right: 10px;
}

.filter input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 80px;
}

.filter button {
    padding: 8px 16px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter button:hover {
    background-color: #4cae4c;
}

.food-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Выравниваем элементы по центру */
}


.food-item {
    width: 200px; /* Ставим ширину */
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;  /* Для выравнивания */
    flex-direction: column; /* Для вертикального расположения */
    align-items: center; /* Для центрирования по горизонтали */
}

.food-item:hover {
    transform: translateY(-5px);
}

.food-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


.food-item h3 {
    margin: 0 0 10px 0; /* Уменьшим отступ */
}

.food-item p {
    margin: 0 0 10px 0; /* Уменьшим отступ */
    font-size: 0.9em;
}

.food-item button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.food-item button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .food-item {
        width: 45%; /* Делаем карточки занимать половину ширины */
    }
}

@media (max-width: 480px) {
    .food-item {
        width: 95%;
        margin: 5px 0; /* Уменьшим отступ для маленьких экранов */
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter label {
        margin-bottom: 5px;
    }
    .filter input[type="number"] {
        margin-bottom: 10px;
    }
}
